# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react_front/node_modules
/react_front/.pnp
/react_front/.pnp.js

/react_host/node_modules
/react_host/.pnp
/react_host/.pnp.js

# testing
/react_front/coverage
/react_host/coverage

# production
/react_front/build
/react_host/build

# misc
.DS_Store
/react_front/.env.local
/react_front/.env.development.local
/react_front/.env.test.local
/react_front/.env.production.local
/react_host/.env.local
/react_host/.env.development.local
/react_host/.env.test.local
/react_host/.env.production.local

/react_front/npm-debug.log*
/react_front/yarn-debug.log*
/react_front/yarn-error.log*

/react_host/npm-debug.log*
/react_host/yarn-debug.log*
/react_host/yarn-error.log*
