.card-preview {
   max-width: 350px;
   height: 200px;
   background: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
   color: white;
   border-radius: 15px;
   padding: 20px;
   position: relative;
   margin-bottom: 15px;
}

.card-number {
   letter-spacing: 3px;
   font-size: 1.2rem;
   margin-top: 30px;
   margin-bottom: 30px;
}

.card-footer {
   display: flex;
   justify-content: space-between;
   font-size: 0.8rem;
}

.balance-info {
   margin-top: 20px;
}

.balance-title {
   color: var(--text-secondary);
   font-size: 0.8rem;
   margin-bottom: 5px;
}

.balance-amount {
   font-size: 1.8rem;
   font-weight: 600;
   color: var(--primary-color);
   margin-bottom: 10px;
}

.income,
.outcome {
   flex: 1;
}

.income-outcome {
   display: flex;
   gap: 20px;
   margin-top: 10px;
}

.income-amount {
   color: var(--success-color);
   font-weight: 500;
}

.outcome-amount {
   color: var(--danger-color);
   font-weight: 500;
}

.card-controls {
   display: flex;
   margin-top: 20px;
   gap: 10px;
}

.card-control-btn {
   flex: 1;
   padding: 8px;
   background-color: transparent;
   border: 1px solid var(--border-color);
   border-radius: var(--border-radius);
   cursor: pointer;
   font-size: 0.9rem;
   transition: all 0.2s;
   text-align: center;
}

.card-control-btn:hover {
   background-color: var(--background-color);
}

.card-pagination {
   display: flex;
   justify-content: center;
   margin-top: 15px;
}

.pagination-dot {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: var(--border-color);
   margin: 0 5px;
   cursor: pointer;
}

.pagination-dot.active {
   background-color: var(--primary-color);
   width: 20px;
   border-radius: 4px;
}
