/* Стили для статистики */
.stats-item {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}

.stats-icon {
   width: 40px;
   height: 40px;
   border-radius: 10px;
   background-color: #f1f7fe;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 15px;
}

.stats-content {
   flex: 1;
}

.stats-title {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}

.stats-category {
   font-weight: 500;
}

.stats-percentage {
   font-weight: 600;
}

.progress-bar {
   height: 8px;
   background-color: var(--background-color);
   border-radius: 4px;
   overflow: hidden;
}

.progress-fill {
   height: 100%;
   border-radius: 4px;
}

.progress-fill.shopping {
   background-color: #ff9f1c;
   width: 52%;
}

.progress-fill.electronics {
   background-color: #38b000;
   width: 21%;
}

.progress-fill.travels {
   background-color: #3a86ff;
   width: 74%;
}
